.main {
    flex: 1;
    width: 100%;
    max-width: var(--maxWidth);
    padding: 0 var(--spacing);
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--spacing);
}

@media (min-width: 640px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 960px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.box {
    border: 2px solid var(--color01l);
    height: 240px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heading {
    margin-bottom: 100px;
    text-align: center;
}

.quote {
    margin: 0;
    font-size: 18px;
}

.author {
    color: var(--color01d);
}