@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --maxWidth: 1600px;
  --spacing: 40px;

  --textFont: 'Courier Prime', monospace;
  --textColor: black;
  --linkColor: #8a9889;

  --color01: #C4D4C3;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--textFont);
  color: var(--textColor);
  line-height: 1.5;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  color: var(--linkColor);
  transition: color .2s ease-in-out;
}

.link:hover {
  color: var(--color01);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.headline01 {
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin: 0 0 20px;
  padding: 7px 15px 2px;
  line-height: 1;
  background: var(--color01);
}

.headline02 {
  text-align: center;
  font-weight: 300;
  font-size: 26px;
  margin: 40px 0 20px;
}

.headline03 {
  margin: 20px 0 10px;
}

.notFound {
  flex: 1;
  text-align: center;
}

/* ------------------------- utility ------------------------- */

.spaceTop {
  margin-top: var(--spacing);
}