.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: var(--maxWidth);
    padding: var(--spacing);
}
@media (min-width: 640px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    line-height: 1;
    margin-bottom: var(--spacing);
}
@media (min-width: 640px) {
    .logo {
        margin-bottom: 0;
    }
}

.navList {
    display: flex;
    font-size: 16px;
}

.navItem a {
    text-transform: uppercase;
    margin: 0 5px;
    padding: 4px 8px 3px;
    transition: background .2s ease-in-out;
}
@media (min-width: 640px) {
    .navItem a {
        margin: 0 10px;
    }
}
.navItem:first-child a {
    margin-left: 0;
}
.navItem:last-child a {
    margin-right: 0;
}

.navItem:hover a,
.active {
  background: var(--color01);
}