.main {
  flex: 1;
  margin-bottom: 100px;
}

.intro {
  display: flex;
  width: 600px;
}

.introLeft {
  width: 50%;
  height: 500px;
  background-color: var(--color01l);
}

.introRight {
  width: 50%;
  height: 500px;
  background-color: #ece1d6;
}