.list {
    display: flex;
    line-height: 1;
}

.item {
    margin-right: 10px;
}
.item:last-child {
    margin-right: 0;
}

.link svg {
    fill: var(--linkColor);
    transition: fill .2s ease-in-out;
}
.link:hover svg {
    fill: var(--color01);
}